:root {
    --primary-color: #fe9f5b;
    --secondary-color: #e7e8eb;
    --text-color: #717171;
    --bg-color: rgba(255, 255, 255, 1);
    --header-bg-color: #fff;
    --footer-bg-color: #fff;
    --input-color: #fff;
    --shadow-color: #ddd;
  }
  [data-theme="dark"] {
    --primary-color: #ffe5b5;
    --secondary-color: #354054;
    --text-color: #fff;
    --bg-color: #1a202c;
    --footer-bg-color: #0c111b;
    --header-bg-color: #0c111b;
    --input-color: #354054;
    --shadow-color: #211d1d;
  }
  